<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
    xmlns:gap   = "http://phonegap.com/ns/1.0"
    id          = "com.Water.Tree"
    versionCode = "10"
    version     = "1.0.0" >

<!-- versionCode is optional and Android only -->

  <name>Water The Tree</name>

  <description>
      Tree Watering Game
  </description>

  <author href="https://Example.Com" email="Example@example.Com">
      BOBCAT GAMES
  </author>
  
  <Icon src="icon.png" />

</widget>